.idea
.wing

resource_Publish

.DS_Store
.[Tt]humb


AndCore/
AndGui/
IOSCore/
Release/
IosOldCore/
dirty/CoreTest/resource/resource_publish.json
dirty/CoreTest/resource/sound-no.zip
dirty/CoreTest/resource/sound-ok.zip
wingProperties.json
tsconfig.json
